@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    font-family: "Space Grotesk", sans-serif;
}
.hide {
    display: none;
}

@media (min-width: 940px){
    body {
        padding: 0;
        margin: 0;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    
    .header {
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 0.7rem 2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        height: 3.4rem;
    
        position: fixed;
        width: 96%;
    }
    
    .header-logo img {
        height: 1.5rem;
        transform: translateY(60%);
    }
    
    .header-nav il {
        padding-inline: 0.1rem;
    }
    .header-nav a {
        text-decoration: none;
        padding: 0.3rem 0.4rem;
        font-weight: 400;
        color: black;
        transition: 0.3s;
        border-radius: 0.3rem;
    }
    .header-nav a:hover {
        text-decoration: none;
        padding: 0.3rem 0.7rem;
        font-weight: 600;
        color: black;
        transition: 0.3s;
        background-color: rgb(245, 245, 245);
    }
    
    .header-account il {
        padding-inline: 0.2rem;
    }
     .header-account a {
        text-decoration: none;
     }
    .login-box a {
        color: black;
        background-color: transparent;
        border: 0.13rem solid black;
        padding: 0.4rem 0.7rem;
        border-radius: 0.4rem;
        font-weight: bold;
        transition: 0.3s;
        
    }
    .login-box a:hover {
        transition: 0.3s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    .register-box a {
        color: white;
        background-color: black;
        border: 0.13rem solid black;
        padding: 0.4rem 0.7rem;
        border-radius: 0.4rem;
        font-weight: bold;
        transition: 0.3s;
    }
    .register-box a:hover {
        transition: 0.3s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    /* .dropdown-content {
        display: none;
    } */
    .header-dropdown {
        display: none;
    }
    #dropdownToggleClose {
        display: none;
    }
    .dropdown-content-heading {
        display: none;
    }
    .dropdown-content-nav {
        display: none;
    }
    
    .content {
        padding-top: 5.5rem;
    }
}



/* mobile & tab */  
@media (max-width: 940px) {
    body {
        padding: 0;
        margin: 0;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    
    .header {
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 0.7rem 2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        height: 3.4rem;
    
        position: fixed;
        width: 96%;
    }
    
    .header-logo img {
        height: 1.2rem;
        transform: translateY(100%);
    }
    
    .header-nav {
        display: none;
    }
    .header-nav il {
        padding-inline: 0.1rem;
    }
    .header-nav a {
        text-decoration: none;
        padding: 0.3rem 0.4rem;
        font-weight: 400;
        color: black;
        transition: 0.3s;
        border-radius: 0.3rem;
    }
    .header-nav a:hover {
        text-decoration: none;
        padding: 0.3rem 0.7rem;
        font-weight: 600;
        color: black;
        transition: 0.3s;
        background-color: rgb(245, 245, 245);
    }
    
    
    .header-account {
        display: none;
    }
    .header-account il {
        padding-inline: 0.2rem;
    }
     .header-account a {
        text-decoration: none;
     }
     .login-box a {
         color: white;
         background-color: transparent;
         border: 0.13rem solid black;
         padding: 0.4rem 0.7rem;
         border-radius: 0.4rem;
         font-weight: bold;
         transition: 0.3s;
         
        }
        .login-box a:hover {
            transition: 0.3s;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    
    .register-box a {
        color: white;
        background-color: black;
        border: 0.13rem solid black;
        padding: 0.4rem 0.7rem;
        border-radius: 0.4rem;
        font-weight: bold;
        transition: 0.3s;

        margin-top: 2rem;
    }
    .register-box a:hover {
        transition: 0.3s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    /* dropdown */
    .header-dropdown {
        display: contents;
    }
    #dropdownToggleOpen {
        background: transparent;
        border: none;
        margin-right: 2.8rem;
        transform: translateY(-10%);
    }
    #dropdownToggleClose {
        background: transparent;
        border: none;
        right: 0;
        top: 0;
        margin: 1.3rem 1.9rem 0rem 0rem;
        font-size: 1.5rem;
        position: absolute;
    }

    .toggle-standing {
        font-size: 1.5rem;
    }


    button:hover {
        cursor: pointer;
    }
    .Sidebar {
        display: none;
    }
    .offSidebar {
        animation: slideOut 1s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
        /* display: none; */
    }
    .activeSidebar {
        animation: slideIn 1s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    @keyframes slideIn {
        0% {
            transform: translateX(105%);
        }
        100% {
            transform: translateX(0%);
        }
    }
    @keyframes slideOut {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(105%);
        }
    }

    .dropdown-content {
        position: fixed;
        right: 0;
    }
    .dropdown-content-box {
        background-color: whitesmoke;
        height: 100vh;
        width: 20rem;
        display: flex;
    }
    .dropdown-content-logo {
        margin: 1.8rem 0rem 0rem 3rem;
        height: 1.2rem;
    }

    .dropdown-content-nav {
        background-color: transparent;
        left: 0;
        position: absolute;
        margin-top: 4rem;
    }
    .dropdown-content-nav a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }
    .dropdown-content-nav ul {
        list-style-type: none;
    }
    .dropdown-content-nav li {
        padding: 0.8rem 0.3rem;
    }
    .dropdown-list {
        padding-bottom: 0.2rem;
        border-bottom: 0.02rem solid black ;
    }

    .dropdown-content-account {
        margin: 2rem 0rem 2.5rem 2.8rem;
    }
    





    .content {
        padding-top: 5.5rem;
    }

}